<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Date/Vendor">
        <app-vendor-wise></app-vendor-wise>
      </nb-tab>
      <nb-tab tabTitle="Date/Building">
        <app-building-wise></app-building-wise>
      </nb-tab>
      <nb-tab tabTitle="Date">
        <app-date-wise></app-date-wise>
      </nb-tab>
      <nb-tab tabTitle="Vendor-Milk">
        <app-vendor-milk></app-vendor-milk>
      </nb-tab>
      <nb-tab tabTitle="Building-Milk">
        <app-building-milk></app-building-milk>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
